html {
  font: normal 100%/1.5 Georgia,serif;
  line-height: 1.5;
}

body {
  margin: 0;
}

header {
  background-color: #ffe500;
  padding: 0 .75em;
}

h1 {
  margin: 0;
  text-align: center;
  font-family: Sigmar One;
  color: #b20953;
  font-size: 3rem;
}

.nav {
  margin: 0;
  list-style-type: none;
  text-align: center;
  padding: 0;
  font-size: 1.125rem;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: #fff;
  display: inline-block;
  padding: .2em .5em .3em;
  background-color: #b2a212;
  border-radius: 4px;
  text-decoration: none;
  margin: .3em;
}

.nav a:hover {
  background-color: #b20953;
}

.nav a::after {
  background-color: #b2a212;
}

.nav a::selection {
  background-color: #b20953;
}

.nav a:active {
  background-color: #b2a212;
}

.nav a::before {
  background-color: #b2a212;
}

h2 {
  font-family: Sigmar One;
  font-size: 1.875rem;
  color: #cc1465;
  margin: .5em;
}

img {
  display: block;
  width: 100%;
}

footer {
  background-color: #ffe500;
  padding: 0.2em;
  text-align: center;
}

article {
  margin: .3em;
  padding: .2em .5em .3em;
}
